<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign up for Message Vault</title>
</head>
<body>
    <div>
        <form method="POST" action="/users">
            <label for="firstName">First name</label>
            <input required name="firstName" id="firstName" type="text">

            <label for="lastName">Last Name</label>
            <input required name="lastName" id="lastName" type="text">

            <label for="userName">Username</label>
            <input required name="userName" id="userName" type="text">

            <label for="password">Password</label>
            <input required name="password" id="password" type="password">

            <button>Submit</button>
        </form>
    </div>
</body>
</html>