<div class="sign-in-form">
    <h2>Sign in</h2>
    <form class="form sign-in-form__form" method="POST" action="/sign-in">
        <label class="label" for="userName">Username</label>
        <input class="input" required name="userName" id="userName" type="text">
        <label class="label" for="password">Password</label>
        <input class="input" required name="password" id="password" type="password">
        <%-include('../partials/errors')%>
        <button class="button button--submit">Sign in</button>
    </form>

</div>
