<div class="unauthorized-page">
    <h2 class="unauthorized-page__heading">You are not authorized to see accessed resource.</h2>
    <p>Please <a class="unauthorized-page__link" href="/role">assign yourself a role</a> of admin or member.</p>
    <p>Admin password: <b>adminship</b>.</p>
    <p>Member password: <b>membership</b>.</p>
</div>