/*~~~~~~~~ LAYOUT ~~~~~~~~*/
:root {
    --col-primary: #2C3E50;
    --col-secondary: #1A252F;
    --col-white: #FFFFFF;
    --col-black: #14110F;

    --header-height: 90px;
    --footer-height: 60px;

    --font-family: 'Lato';

    --link-size: .8rem;
    --h1-size: 1.3rem;
    --h2-size: 1.2rem;
}

@media (min-width: 440px) {

    :root {
        --link-size: 1rem;
        --h1-size: 1.8rem;
        --h2-size: 1.4rem;
    }
}

html {
    height: 100%;
}

body {
    color: var(--col-white);
    height: 100%;
    font-family: var(--font-family), serif;
    background-color: var(--col-secondary);
}


.main {
    background-color: var(--col-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    border-radius: 10px 10px 0 0;
    margin: 25px auto 0;
    padding: 5px 15px;
    min-height: calc(100% - var(--header-height));
}

/*~~~~~~~~ HEADER ~~~~~~~~*/

.header {
    background-color: var(--col-primary);
    height: var(--header-height);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.header__heading {
    font-size: var(--h1-size);
}

a {
    text-decoration: none;
    color: var(--col-white);
}

.header__link {
    flex-basis: 50%;
}

.header__nav {
    flex-basis: 50%;
    font-size: var(--link-size);
}

.header__list {
    display: flex;
    gap: 10px;
    width: 100%;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
}

.header__nav-link {
    width: 100%;
}

/*~~~~~~~~ Link ~~~~~~~~*/

.link {
    text-decoration: underline;
}

/*~~~~~~~~ Forms ~~~~~~~~*/

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

/*~~~~~~~~ Inputs ~~~~~~~~*/
.label {
    margin: 3px 0;
}

.input, .select, .textarea {
    max-width: 400px;
}

.select {
    padding: 5px;
}


/*~~~~~~~~ Buttons ~~~~~~~~*/
.button {
    width: 150px;
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.button--submit {
    margin: 10px 0;
}

/*~~~~~~~~ Sign in View ~~~~~~~~*/
.sign-in-form {
    width: 100%;
}


.sign-in-form__form {
    display: flex;
    flex-direction: column;
}

/*~~~~~~~~ Sign up View ~~~~~~~~*/
.sign-up-form {
}

/*~~~~~~~~ Posts ~~~~~~~~*/
.post-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.post-wrapper__post {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--col-white);
    padding: 10px;
    gap: 4px;
}

.post-wrapper__heading {
    font-size: var(--h2-size);
}

.heading--no-messages {
    margin-bottom: 10px;
}

.index-wrapper {
    width: 100%;
}


/*~~~~~~~~ Errors ~~~~~~~~*/
.error-list {
    display: flex;
    flex-direction: column;
    color: red;
    font-size: 1rem;
    font-weight: 600;
    gap: 2px;
    padding-left: 0;
    list-style: none;
    margin: 10px 0;
}

.generic-error, .unauthorized-page {
    width: 100%;
}

.unauthorized-page {
    font-size: 1.3rem;
    display: grid;
    gap: 5px;
}

.unauthorized-page__heading {
    margin-bottom: 10px;
    font-size: var(--h2-size);
}

.unauthorized-page__link {
    text-decoration: underline;

}

/*~~~~~~~~ FOOTER ~~~~~~~~*/
/*footer {*/
/*    margin-top: auto;*/
/*    height: var(--footer-height);*/
/*}*/
